# eclipse
.settings/
.DS_Store
.project
.classpath
*.launch

do_not_git_version/

# idea
*.iml

# build
target/
tomcat.*/
test-output/

# package
*.class
*.jar
*.war
*.ear

#Jrebel
src/main/resources/rebel.xml
