<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/${project.artifactId}"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.polyglotted.webapp.launcher.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="${project.artifactId}"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DgroupId=${project.groupId} -DartifactId=${project.artifactId} -Dversion=${project.version} -Denv=local -Dmain.launch.strategy=${launch.strategy} -Dwebapp.in.ide=true -Dwebapp.log.path=target/accesslogs/yyyy_mm_dd.request.log -Dwebapp.context.path=/"/>
</launchConfiguration>
